<div class="container">
  <%= form_for(@document) do |f| %>
  <div class="nom">
    <%= f.label :nom %>
    <%= f.text_field :name %>
  </div>
  <div class="client">
    <%= f.label :client %>
    <%= f.text_field :client %>
  </div>
  <div class="année">
    <%= f.label :année %>
    <%= f.select :year, (2000)..(Time.zone.now.year - 3) %>
  </div>
  <div class="matière">
    <%= f.label :matière %>
    <%= f.select :subject, ['01. Comptabilité', '02. Social', '03. Juridique', '04. Dossiers personnels', '05. Administratif'],prompt: 'Sélectionnez une matière' %>
  </div>
  <div class="carton">
    <%= f.label :carton %>
    <%= f.text_field :carton %>
  </div>
    <div class="localisation">
      <%= f.label :localisation %>
      <%= f.select :localisation,['SAINT-TROPEZ - étage', 'SAINT-TROPEZ - cave', 'SAINT-TROPEZ - garage', 'COGOLIN - RDC', 'COGOLIN - garage', 'MARSEILLE ACA - cave grande pièce', 'MARSEILLE ACA - cave pièce entrée', 'MARSEILLE ACA - cave pièce entrée', 'MARSEILLE ACA - cave pièce du fond', 'MARSEILLE ACA - cave passage du fond', 'MARSEILLE ACA - cave pièce chaudière', 'MARSEILLE ACA - petite pièce', 'PARIS - sous-sol', 'MARSEILLE SGCAM - pièce rangement'],prompt: 'Sélectionnez une localisation' %>
    </div>

    <%= f.submit %>
</div>
<% end %>


